<!DOCTYPE html>
<html lang="en">
    <head> 
        <meta charset="utf-8"> 
        <title>Cadastro de Lembretes</title> 
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="/css/css.css" media="screen" />
    </head> 
    <body> 
        <div class="container"> 
            <h1 style="margin-top: 5%;">Cadastro de Lembretes</h1>
            <hr>
            <form action="#" th:action="@{/lembreteCadastro}" th:object="${lembrete}" method="POST" style="width: 940px; margin: 40px auto;">

                <input type="text" nth:field="*{descricao}" placeholder="Descrição" class="form-control mt-4 col-4" style="margin-left: 32%;"/>
                <span class="text-danger" th:if="${#fields.hasErrors('descricao')}" th:errors="*{descricao}"></span>

                <input type="text" nth:field="*{dataHora}" placeholder="Data e Hora" class="form-control mt-4 col-4" style="margin-left: 32%;"/>
                <span class="text-danger" th:if="${#fields.hasErrors('dataHora')}" th:errors="*{dataHora}"></span>

                <!-- O id já está no AutoIncremment, o valor de realizado se vc está criando logicamente é falso, da mesma maneira q seu valor default já é esse no banco de dados, e o odPaciente tem que ser setado no controller com o valor passado pela model da outra página na hora do get, ent quando o atributo vem para cá seu id já está definido com o id certo do paciente em que o médico em questão está adicionando o lembrete -->

            <button type="button" id="limparForm" class="btn btn-danger mt-4" style="text-align: center; margin-left: 32%;">Limpar</button>
                <button type="submit" class="btn btn-info mt-4" style="text-align: center; margin-left: 10%;">Cadastrar</button>
            </form>
        </div> 
    

        <script src="/js/jquery.js"></script>
            <script>
                $(document).ready(function () {
                    $('#limparForm').click(function () {
                        
                        $("#nome").val("");
                        $("#RG").val("");
                        $("#endereco").val("");
                        $("#senha").val("");

                    });
                });
            </script>
        </body>
</html>