<!DOCTYPE html>
<html lang="en">
   

<head>
           
    <meta charset="utf-8">
            <title>Lembretes</title>
           
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/css.css" media="screen" />
       
</head>

<body>
    <div class="container">
        <h1 style="margin-top: 5%;">Lembretes:</h1>

        <table style="text-align: center; margin-left: 32%;">
            <thead>
                <tr>
                    <th style="font-size: larger;">ID</th>
                    <th style="font-size: larger;">Lembrete</th>
                    <th style="font-size: larger;">Data</th>
                    <th style="font-size: larger;">Realizado</th>
                    <th style="font-size: larger;">Funções</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="lembrete : ${lembretes}">

                    <span th:if="lembrete.idPaciente == ${paciente.id}"> <!-- Vem do get na model em controller, do id do Paciente que o médico clicou no botão (isso já está lá) -->

                    <td th:text="${lembrete.id}"></td>
                    <td th:text="${lembrete.descricao}"></td>
                    <td th:text="${lembrete.dataHora}"></td>
                    <td th:checkbox="${lembrete.realizado}"></td> <!-- Pode ser q o certo seja só usar "text" ali mesmo e depois eu uso um "th:if" para mudar para "Realizado" se o valor for verdadeiro ou "Não realizado" se o valor for falso -->

                    <td>
                        <button><a th:href="@{/atualizarLembrete/{id}(id = ${lembrete.id})}">Atualizar lembrete</a></button> <!-- Vai para "atualizarLembrete.html" -->
                        <button><a th:href="@{/excluirLembrete/{id}(id = ${lembrete.id})}">Excluir lembrete</a></button> <!-- Só é realizado no controller -->
                    </td>

                    </span>

                </tr>
            </tbody>
        </table>

        <a th:href="@{/}"><button class="btn btn-danger mt-4" style="text-align: center; margin-left: 32%;">Sair</button></a>
        <a th:href="@{/}"><button class="btn btn-info mt-4" style="text-align: center; margin-left: 20%;">Cadastrar lembrete</button></a> <!-- Vai para "cadastroLembrete.html", mandando no model o id do paciente (paciente inteiro, ou só o id dele mesmo) -->

    </div>
</body>

</html>